.card{
    border-radius: 10px;
    background-color: blue;
    /* padding-bottom: 10px; */
}

.search-list{
    border-radius: 15px;
    background-color: rgb(144, 210, 235);
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}